{% extends "base.html" %}

{% block content %}
<section class="vh-100" data-bs-theme="dark">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center h-100">
            <div class="col-md-6 col-xl-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body">
                            <div class="col"></div>
                                <a href="{% url 'contacts:detailcontacts' contact.id %}" class="btn-close btn-outline-light btn-close-white float-end" aria-label="Close"></a>
                            </div>
                            <div class="col">
                                <h4 class="card-title text-danger text-center"><strong>DELETE CONTACT:</strong></h4>
                                <h2 class="card-text text-center text-white">{{ contact.first_name }} {{ contact.last_name }}</h2>
                            </div>
                            <div class="card-body text-center">
                                <button type="submit" class="btn btn-outline-danger btn-rounded btn-lg float-center">Delete</button>   
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>           
</section>
{% endblock %}