{% extends "base.html" %}

{% block content %}
<section class="vh-100" data-bs-theme="dark">
    <div class="container col-md-6 text-center py-5 h-100">
            <div class="card" style="border-radius: 15px;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        <h2 class="card-title text-center text-white">Contact Information</h2>
                        <div class="row d-flex justify-content-center">
                            <div class="container py-5 h-100 text-center">
                                <label for="fileField"><img src="{{ contact.profile_pic.url }}"
                                class="rounded-circle img-fluid" style="object-fit: cover; width: 200px; height: 200px;" /></label>
                                <input type="file" id="fileField" accept="media/profile_pic" name="profile_pic" style="font-size: 1.2em;" hidden="true">
                            </div>
                            <div class="col">
                                <label for="first-name">First Name</label>
                                <h4 class="text-white"> {{ contact.first_name }}</h4>
                            </div>
                            <div class="col">
                                <label for="last-name">Last Name</label>
                                <h4 class="text-white"> {{ contact.last_name }}</h4>
                            </div>
                            <div class="col">
                                <label for="email">Email</label>
                                <h4 class="text-white"> {{ contact.email }}</h4>
                            </div>
                        
                            <div class="w-100 p-2"></div>
                            <div class="col">
                                <label for="address1">Address 1</label>
                                <h4 class="text-white"> {{ contact.address_1 }}</h4>
                            </div>
                            <div class="col">   
                                <label for="address2">Address 2</label>
                                <h4 class="text-white"> {{ contact.address_2 }}</h4>
                            </div>
                            
                            <div class="w-100 p-2"></div>
                            <div class="col">
                                <label for="city">City</label>
                                <h4 class="text-white"> {{ contact.city }}</h4>
                            </div>
                            <div class="col">
                                <label class="state">State</label>
                                <h4 class="text-white"> {{ contact.state }}</h4>
                            </div>
                            <div class="col">
                                <label for="zipcode">Zipcode</label>
                                <h4 class="text-white"> {{ contact.zipcode }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'contacts:updatecontacts' pk=contact.pk %}" class="btn btn-outline-primary btn-rounded btn-lg">Update</a>
                        <a href="{% url 'contacts:deletecontacts' pk=contact.pk %}" class="btn btn-outline-danger btn-rounded btn-lg">Delete</a>

                    </div>
                </form>
            </div>
    </div>
</section>
{% endblock %}