{% extends "base.html" %}

{% block content %}
<section class="vh-100" data-bs-theme="dark">
    <div class="container col-md-6 text-center py-5 h-100">
            <div class="card" style="border-radius: 15px;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        <h2 class="card-title text-center">Contact Information</h2>
                        <div class="row d-flex justify-content-center">
                            <div class="container py-5 h-100 text-center">
                                <label for="fileField"><img src="{{ contact.profile_pic.url }}"
                                class="rounded-circle img-fluid" style="width: 200px; height: 200px;" /></label>
                                <input type="file" id="fileField" accept="media/profile_pic" name="profile_pic" style="font-size: 1.2em;" hidden="true">
                            </div>
                            <div class="col">
                                <label for="first-name">First Name</label>
                                <h4> {{ contact.first_name }}</h4>
                            </div>
                            <div class="col">
                                <label for="last-name">Last Name</label>
                                <h4> {{ contact.last_name }}</h4>
                            </div>
                            <div class="col">
                                <label for="email">Email</label>
                                <h4> {{ contact.email }}</h4>
                            </div>
                        
                            <div class="w-100 p-2"></div>
                            <div class="col">
                                <label for="address1">Address 1</label>
                                <h4> {{ contact.address_1 }}</h4>
                            </div>
                            <div class="col">   
                                <label for="address2">Address 2</label>
                                <h4> {{ contact.address_2 }}</h4>
                            </div>
                            
                            <div class="w-100 p-2"></div>
                            <div class="col">
                                <label for="city">City</label>
                                <h4> {{ contact.city }}</h4>
                            </div>
                            <div class="col">
                                <label class="state">State</label>
                                <h4> {{ contact.state }}</h4>
                            </div>
                            <div class="col">
                                <label for="zipcode">Zipcode</label>
                                <h4> {{ contact.zipcode }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'contacts:updatecontacts' pk=contact.pk %}" class="btn btn-primary btn-rounded btn-lg">Update</a>
                        <a href="{% url 'contacts:deletecontacts' pk=contact.pk %}" class="btn btn-danger btn-rounded btn-lg">Delete</a>

                    </div>
                </form>
            </div>
    </div>
</section>
{% endblock %}


<section class="vh-100" data-bs-theme="dark">
    <div class="container py-5 h-100">

                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Contact Information</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item text-center py-4">
                                        <img src="{{ contact.profile_pic.url }}"
                                        class="rounded-circle img-fluid" style="width: 100px;" />
                                    </li>
                                    <li class="list-group-item list">
                                        <label for="first_name"> <strong>First Name:</strong></label>
                                        {{ contact.first_name }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="last_name"> <strong>Last Name:</strong></label>
                                        {{ contact.last_name }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="email"> <strong>Email:</strong></label>
                                        {{ contact.email }}                               
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <label for="address_1"> <strong>Address 1:</strong></label>
                                        {{ contact.address_1 }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="address_2"> <strong>Address 2:</strong></label>
                                        {{ contact.address_2 }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="city"> <strong>City:</strong></label>
                                        {{ contact.city }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="state"> <strong>State:</strong></label>
                                        {{ contact.state }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="zipcode"> <strong>Zipcode:</strong></label>
                                        {{ contact.zipcode }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <a href="{% url 'contacts:updatecontacts' pk=contact.pk %}" class="btn btn-primary btn-rounded btn-md text-center">Update</a>
                        <a href="{% url 'contacts:deletecontacts' pk=contact.pk %}" class="btn btn-danger btn-rounded btn-md float-end">delete</a>
                    </div>
                </div>
        
    </div>
</section>