{% extends "base.html" %}

{% block content %}
<div class="container mt-2"> 
    <a href="{% url 'contacts:createcontacts'%}" class="btn btn-primary btn-rounded btn-lg">Create Contact</a>
</div>

<section class="vh-100" data-bs-theme="dark">
    <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center ">
                {% for contact in contact_list %}
                <div class="col-md-6 col-xl-4 p-2">
                    <a href="{% url 'contacts:detailcontacts' contact.id %}" style="text-decoration: none;">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body text-center">
                                <div class="mt-3 mb-4">
                                    <img src="{{ contact.profile_pic.url }}"
                                    class="rounded-circle img-fluid" style="width: 100px; height: 100px;" />
                                    <h4 class="mb-2 p-2">{{ contact.first_name|truncatechars:15 }} {{ contact.last_name|truncatechars:15 }}</h4>
                                </div>
                            </div>      
                        </div>
                    </a>
                </div>
                {% empty %}
                    No objects found.
                {% endfor %}
            </div>
    </div>
</section>
{% endblock %}

<div class="container">
    
    <a href="{% url 'contacts:createcontacts'%}" class="btn btn-primary btn-rounded btn-lg">create contact</a>
</div>

<section class="vh-100" data-bs-theme="dark">
    <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center h-100">
                {% for contact in contact_list %}
                <div class="col-md-6 col-xl-4">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body text-center">
                            <div class="mt-3 mb-4">
                                {% if contact.profile_pic %}
                                    <img src="{{ contact.profile_pic }}"
                                    class="rounded-circle img-fluid" style="width: 100px;" />
                                {% else %}
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                    class="rounded-circle img-fluid" style="width: 100px;" />
                                {% endif %}
                                <h4 class="mb-2">{{ contact.first_name|truncatechars:30 }} {{ contact.last_name|truncatechars:30 }}</h4>
                                <a href="{% url 'contacts:detailcontacts' contact.id %}" class="btn btn-primary btn-rounded btn-lg">
                                    Details
                                </a>
                            </div>
                        </div>      
                    </div>
                </div>
                {% empty %}
                    No objects found.
                {% endfor %}
            </div>
    </div>
</section>
